services:

  db:
    image: postgres:latest
    container_name: videoflix_database
    #ports:
    #  - "${DB_PORT}:5432" #Uncomment for pytest tests or local connection to run manage.py commands! Comment or remove in Production!
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql

  redis:
    image: redis:latest
    container_name: videoflix_redis
    #ports:
    #  - "${REDIS_PORT}:6379" #Uncomment for pytest tests! Comment or remove in Production!
    volumes:
      - redis_data:/data

  web:
    build:
      context: .
      dockerfile: backend.Dockerfile
    env_file: .env
    container_name: videoflix_backend
    volumes:
      - .:/app
      - ./media:/app/media
      - videoflix_static:/app/static
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1
    depends_on:
      - db
      - redis


volumes:
  postgres_data:
  redis_data:
  videoflix_media:
  videoflix_static:
